---
import { AstroSeo } from "@astrolib/seo";
import {
    CAREER_PATH_SPECIAL_HIDDEN,
    CareerPathsList,
} from "src/lib/career-paths";
import type { CareerPathCollection } from "src/lib/career-paths";
import {
    cluster,
    shuffle,
} from "radash";
import Layout from "src/layouts/Layout.astro";
import CardGroup from "src/components/astro/career-paths/card-group.astro";

const career_paths: CareerPathCollection = shuffle(
    CareerPathsList.filter(path => path !== CAREER_PATH_SPECIAL_HIDDEN),
);

if (career_paths.length % 3 !== 0) {
    const remainder = career_paths.length % 3;
    career_paths.push(...Array.from({ length: 3 - remainder }, () => CAREER_PATH_SPECIAL_HIDDEN));
}
---

<Layout title="CyberPath | Career paths">
    <AstroSeo
            title="CyberPath"
            canonical="https://cyberpath-hq.com/career-paths/"
            description="Explore CyberPath’s free database of cybersecurity certifications. Find career paths, costs, and detailed info to advance your cybersecurity career."
            openGraph={ {
                url:         "https://cyberpath-hq.com/career-paths/",
                title:       "CyberPath",
                description: "Explore CyberPath’s free database of cybersecurity certifications. Find career paths, costs, and detailed info to advance your cybersecurity career.",
                site_name:   "CyberPath",
                images:      [
                    {
                        url:    "https://cyberpath-hq.com/CyberPath-og.webp",
                        width:  1920,
                        height: 933,
                        alt:    "CyberPath - Explore Cybersecurity Certifications",
                    },
                ],
            } }
    />
    <div class="bg-white/50 relative isolate">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
             aria-hidden="true"
        >
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                 style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
            ></div>
        </div>
        <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
            <div class="sm:flex sm:items-baseline sm:justify-between">
                <h1 class="text-2xl font-bold tracking-tight text-gray-900">Career paths</h1>
            </div>
            {
                cluster(career_paths, 3).map((paths, i) => (
                        <CardGroup career_paths={ paths }
                                   inverted={ i % 2 === 1 }
                        />
                ))
            }
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
             aria-hidden="true"
        >
            <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                 style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
            ></div>
        </div>
    </div>
</Layout>
<script>
    // Fake the behavior of a link with a data-href attribute, this is required because astro goes crazy if you nest
    // anchor tags
    document.querySelectorAll("[data-href]").forEach((el) => {
        el.addEventListener("click", (e) => {
            e.preventDefault();
            e.stopPropagation();

            const href = el.getAttribute("data-href");
            if (!href || href === "#") {
                return;
            }

            window.location.href = href;
        });
    });

    // Prevent the click event from bubbling up to the parent element, this allows us to use anchor tags inside the
    // card group
    document.querySelectorAll("a").forEach((el) => {
        el.addEventListener("click", (e) => {
            e.stopPropagation();
        });
    });
</script>