---
import type { CollectionEntry } from "astro:content";
import { title } from "radash";
interface Props {
    certification: CollectionEntry<"certifications">;
}

const { certification } = Astro.props;
const provider = title(certification.slug.split("/")[0]);
---

<aside class="relative col-span-3 p-8 row-start-2">
    <div class="border rounded-lg sticky top-16 p-2 py-4">
        <h2 class="text-lg font-semibold text-zinc-900 px-4 py-2">
            Certification details
        </h2>
        <table>
            <tbody>
                <tr>
                    <td class="font-semibold text-zinc-900 px-4 py-2 align-text-top">
                        Provider
                    </td>
                    <td class="px-4 py-2">
                        { provider }
                    </td>
                </tr>
                <tr>
                    <td class="font-semibold text-zinc-900 px-4 py-2 align-text-top">
                        Acronym
                    </td>
                    <td class="px-4 py-2">
                        { certification.data.acronym }
                    </td>
                </tr>
                <tr>
                    <td class="font-semibold text-zinc-900 px-4 py-2 align-text-top">
                        Last updated
                    </td>
                    <td class="px-4 py-2">
                        { certification.data.last_updated_at.toLocaleDateString() }
                    </td>
                </tr>
                <tr>
                    <td class="font-semibold text-zinc-900 px-4 py-2 align-text-top">
                        Price
                    </td>
                    <td class="px-4 py-2">
                        { (+certification.data.price).toFixed(2) } { certification.data.currency }
                    </td>
                </tr>
                <tr>
                    <td class="font-semibold text-zinc-900 px-4 py-2 align-text-top">
                        Career paths
                    </td>
                    <td class="px-4 py-2">
                        <ul class="list-disc list-inside">
                            { certification.data.career_paths.map((path) => (
                                <li>
                                    { path }
                                </li>
                            )) }
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex items-center justify-start mx-4">
            <a class="border rounded-md p-2 aspect-square shadow-sm"
               href={ certification.data.reference }
               target="_blank"
               title="Visit the official website"
               aria-label="Visit the official website"
            >
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="18"
                     height="18"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-link"
                >
                    <path stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                    />
                    <path d="M9 15l6 -6" />
                    <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                    <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                </svg>
            </a>
            <a href="/contributors"
               class="ml-auto text-sm font-semibold hover:text-indigo-500"
            >
                Suggest an edit
            </a>
        </div>
    </div>
</aside>