---
import Loader from "src/components/icon/loader.astro";
---

<div class="text-sm text-gray-500 flex items-center justify-center">
    <Loader class="animate-spin mr-2" />
    Loading data...
</div>