---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { CareerPathsData } from "src/lib/career-paths";
import type { CareerPathsName } from "src/lib/career-paths";
import CardOverlay from "./card-overlay.astro";

interface Props {
    career_path: CareerPathsName[number],
    loading?: "eager" | "lazy",
}

const {
          career_path,
          loading,
      } = Astro.props;

const certification_count = (await getCollection("certifications", (entry) => {
    return !entry.data.draft && entry.data.career_paths.includes(career_path);
})).length;
---

<Image src={ CareerPathsData[career_path].image }
       alt={ career_path }
       class="object-cover object-center transition-all duration-300 group-hover:scale-105 max-w-full"
       loading={ loading }
/>
<CardOverlay />
<div class="flex items-end p-3 sm:p-6 sm:absolute sm:inset-0">
    <div>
        <h4 class="text-base font-semibold leading-7 text-indigo-400">
            { certification_count } Certifications
        </h4>
        <h3 class="font-semibold text-white text-xl sm:text-3xl lg:text-4xl">
            { career_path }
        </h3>
        <p aria-hidden="true"
           class="mt-1 text-base text-zinc-300 line-clamp-2 sm:line-clamp-2 lg:line-clamp-4"
        >
            { CareerPathsData[career_path].description }
        </p>
        <small class="text-xs text-indigo-300 hover:underline hidden sm:block mt-1"
               set:html={ CareerPathsData[career_path].attribution }
        />
    </div>
</div>