---
import { dash } from "radash";
import CardData from "src/components/astro/career-paths/card-data.astro";
import {
    CAREER_PATH_SPECIAL_HIDDEN,
    type CareerPathCollection,
} from "src/lib/career-paths";
import { CareerPathsList } from "src/lib/career-paths";
import { z } from "astro/zod";

interface Props {
    career_paths: CareerPathCollection,
    inverted?: boolean,
    loading?: "eager" | "lazy",
}

const {
          career_paths: _career_paths,
          inverted = false,
          loading,
      } = Astro.props;

const career_paths = z.array(z.enum(CareerPathsList))
    .length(3, "CardGroup array must contain exactly 3 elements")
    .parse(_career_paths);
---

<div class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-6 lg:gap-8">
    {
        !inverted
        ? (
                <div class="group aspect-h-2 aspect-w-3 overflow-hidden rounded-lg sm:aspect-h-1 sm:aspect-w-1
                    sm:row-span-2 cursor-pointer"
                     data-href={ `/career-paths/${ dash(career_paths[0]) }` }
                >
                    <CardData career_path={ career_paths[0] }
                              loading={ loading }
                    />
                </div>
                <div class:list={ [
                    "group aspect-h-2 aspect-w-3 overflow-hidden rounded-lg sm:relative sm:h-full cursor-pointer",
                    career_paths[1] === CAREER_PATH_SPECIAL_HIDDEN && "hidden",
                ] }
                     data-href={ `/career-paths/${ dash(career_paths[1]) }` }
                >
                    <CardData career_path={ career_paths[1] }
                              loading={ loading }
                    />
                </div>
                <div class:list={ [
                    "group aspect-h-2 aspect-w-3 sm:aspect-h-2 sm:aspect-w-3 overflow-hidden rounded-lg sm:relative sm:h-full cursor-pointer",
                    career_paths[2] === CAREER_PATH_SPECIAL_HIDDEN && "hidden",
                ] }
                     data-href={ `/career-paths/${ dash(career_paths[2]) }` }
                >
                    <CardData career_path={ career_paths[2] }
                              loading={ loading }
                    />
                </div>
        )
        : (
                <div class="group aspect-h-2 aspect-w-3 overflow-hidden rounded-lg sm:relative sm:h-full col-start-1
                    row-start-1 cursor-pointer"
                     data-href={ `/career-paths/${ dash(career_paths[0]) }` }
                >
                    <CardData career_path={ career_paths[0] }
                              loading={ loading }
                    />
                </div>
                <div class:list={ [
                    `group aspect-h-2 aspect-w-3 overflow-hidden rounded-lg sm:relative sm:h-full col-start-1 
                    row-start-2 cursor-pointer`,
                    career_paths[1] === CAREER_PATH_SPECIAL_HIDDEN && "hidden",
                ] }
                     data-href={ `/career-paths/${ dash(career_paths[1]) }` }
                >
                    <CardData career_path={ career_paths[1] }
                              loading={ loading }
                    />
                </div>
                <div class:list={ [
                    `group aspect-h-2 aspect-w-3 overflow-hidden rounded-lg sm:aspect-h-1 sm:aspect-w-1 sm:row-span-2 
                    cursor-pointer`,
                    career_paths[2] === CAREER_PATH_SPECIAL_HIDDEN && "hidden",
                ] }
                     data-href={ `/career-paths/${ dash(career_paths[2]) }` }
                >
                    <CardData career_path={ career_paths[2] }
                              loading={ loading }
                    />
                </div>
        )
    }
</div>