---
import Layout from "@layouts/Layout.astro";
import preview from "@assets/CyberPath-Database.png";
import { Image } from "astro:assets";
import { ExternalLink } from "@components/icon/external-link";
---

<Layout title="CyberPath | Contributors">
    <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
        <div class="absolute inset-0 -z-10 overflow-hidden">
            <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
                 aria-hidden="true"
            >
                <defs>
                    <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0"
                             width="200"
                             height="200"
                             x="50%"
                             y="-1"
                             patternUnits="userSpaceOnUse"
                    >
                        <path d="M100 200V.5M.5 .5H200"
                              fill="none"
                        />
                    </pattern>
                </defs>
                <svg x="50%"
                     y="-1"
                     class="overflow-visible fill-gray-50"
                >
                    <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
                          stroke-width="0"
                    />
                </svg>
                <rect width="100%"
                      height="100%"
                      stroke-width="0"
                      fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"
                />
            </svg>
        </div>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
            <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
                <div class="lg:pr-4">
                    <div class="lg:max-w-lg">
                        <h2 class="text-base font-semibold leading-7 text-indigo-600">
                            Get involved & help us
                        </h2>
                        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                            Contribute to CyberPath
                        </h1>
                        <p class="mt-6 text-xl leading-8 text-gray-700">
                            With Cyberpath, we are trying to build the most comprehensive database of cybersecurity
                            certifications and trainings, and we welcome contributions from the community.
                            There are several ways for you to contribute based on your time and available effort.
                        </p>
                    </div>
                </div>
            </div>
            <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
                <Image src={ preview }
                       alt="CyberPath Database"
                       class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
                       loading="eager"
                />
            </div>
            <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
                <div class="lg:pr-4">
                    <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
                        <ul role="list"
                            class="mt-8 space-y-8 text-gray-600"
                        >
                            <li class="flex gap-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor"
                                     stroke-width="2"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="icon icon-tabler icons-tabler-outline icon-tabler-code-plus mt-1 h-5 w-5 flex-none text-indigo-600"
                                >
                                    <path stroke="none"
                                          d="M0 0h24v24H0z"
                                          fill="none"
                                    />
                                    <path d="M9 12h6" />
                                    <path d="M12 9v6" />
                                    <path d="M6 19a2 2 0 0 1 -2 -2v-4l-1 -1l1 -1v-4a2 2 0 0 1 2 -2" />
                                    <path d="M18 19a2 2 0 0 0 2 -2v-4l1 -1l-1 -1v-4a2 2 0 0 0 -2 -2" />
                                </svg>
                                <div>
                                    <h3 class="font-semibold text-gray-900">
                                        Add a Certification
                                    </h3>
                                    <p>
                                        If you know of a certification that's not listed in our database, we encourage
                                        you to add it! Please follow these steps:
                                    </p>
                                    <ul class="list-disc list-outside ml-4">
                                        <li>
                                            Fork our
                                            <a href="https://github.com/ebalo55/cyberpath"
                                               class="text-indigo-600 font-semibold hover:underline"
                                               target="_blank"
                                               rel="noopener"
                                            >
                                                GitHub repository
                                            </a>
                                            and create a new branch.
                                        </li>
                                        <li>
                                            Ensure the certification is not already listed in our database or aliased
                                            under a different name.
                                        </li>
                                        <li>
                                            Add the certification details using the
                                            <a href="https://github.com/ebalo55/cyberpath/blob/master/certification.mdx.template"
                                               class="text-indigo-600 font-semibold hover:underline"
                                               target="_blank"
                                               rel="noopener"
                                            >
                                                MDX template
                                            </a>
                                            provided in the repo.
                                        </li>
                                        <li>
                                            Submit a pull request for review.
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="flex gap-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor"
                                     stroke-width="2"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="icon icon-tabler icons-tabler-outline icon-tabler-refresh-alert mt-1 h-5 w-5 flex-none text-indigo-600"
                                >
                                    <path stroke="none"
                                          d="M0 0h24v24H0z"
                                          fill="none"
                                    />
                                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                                    <path d="M12 9l0 3" />
                                    <path d="M12 15l.01 0" />
                                </svg>
                                <div>
                                    <h3 class="font-semibold text-gray-900">
                                        Update a Certification
                                    </h3>
                                    <p>
                                        Is there a certification that needs to be updated with new information? You can
                                        help by:
                                    </p>
                                    <ul class="list-disc list-outside ml-4">
                                        <li>
                                            Forking our
                                            <a href="https://github.com/ebalo55/cyberpath"
                                               class="text-indigo-600 font-semibold hover:underline"
                                               target="_blank"
                                               rel="noopener"
                                            >
                                                GitHub repository
                                            </a>
                                            and updating the relevant MDX file.
                                        </li>
                                        <li>
                                            Submit a pull request for review.
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="flex gap-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor"
                                     stroke-width="2"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="icon icon-tabler icons-tabler-outline icon-tabler-error-404 mt-1 h-5 w-5 flex-none text-indigo-600"
                                >
                                    <path stroke="none"
                                          d="M0 0h24v24H0z"
                                          fill="none"
                                    />
                                    <path d="M3 7v4a1 1 0 0 0 1 1h3" />
                                    <path d="M7 7v10" />
                                    <path d="M10 8v8a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-8a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1z" />
                                    <path d="M17 7v4a1 1 0 0 0 1 1h3" />
                                    <path d="M21 7v10" />
                                </svg>
                                <div>
                                    <h3 class="font-semibold text-gray-900">
                                        Report an Error
                                    </h3>
                                    <p>
                                        Found something incorrect or outdated? Help us maintain accuracy by reporting
                                        errors:
                                    </p>
                                    <ul class="list-disc list-outside ml-4">
                                        <li>
                                            Open an issue on our
                                            <a href="https://github.com/ebalo55/cyberpath/issues"
                                               class="text-indigo-600 font-semibold hover:underline"
                                               target="_blank"
                                               rel="noopener"
                                            >
                                                GitHub issues page
                                            </a>
                                            with details of the error.
                                        </li>
                                        <li>
                                            We’ll address it as soon as possible.
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
                            Have CyberPath helped you?
                        </h2>
                        <p class="mt-8">
                            If Cyberpath has been helpful to you, we'd love to hear from you! Give us a shoutout by:
                        </p>
                        <ul class="list-disc list-outside ml-4">
                            <li>
                                Posting your shoutout on social media (LinkedIn, Twitter, etc.) and tag us.
                            </li>
                            <li>
                                Use the hashtags <strong>#CyberPath</strong> and <strong>#CyberPathShoutout</strong> to
                                share how CyberPath has made a difference in your cybersecurity journey.
                            </li>
                        </ul>
                        <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
                            No time to contribute? Sponsor us!
                        </h2>
                        <p class="mt-6">
                            You have no idea of what a Fork or Pull Request is? No worries! You can still support
                            Cyberpath by becoming a sponsor! Your sponsorship helps us grow, maintain the database, and
                            continue providing valuable resources to the cybersecurity community.
                        </p>
                        <p class="mt-1">
                            Sponsor us on GitHub:
                            <iframe src="https://github.com/sponsors/ebalo55/button"
                                    title="Sponsor ebalo55"
                                    height="32"
                                    width="114"
                                    style="border: 0; border-radius: 6px;"
                                    class="inline"
                            />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
