---

---

<footer class="bg-white/25 border-t z-50 relative">
    <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
        <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12"
             aria-label="Footer"
        >
            <div class="pb-6">
                <a href="/"
                   class="text-sm leading-6 text-gray-600 hover:text-gray-900"
                   title="Home"
                >
                    Home
                </a>
            </div>
            <div class="pb-6">
                <a href="/career-paths"
                   class="text-sm leading-6 text-gray-600 hover:text-gray-900"
                   title="Career paths"
                >
                    Career paths
                </a>
            </div>
            <div class="pb-6">
                <a href="/database"
                   class="text-sm leading-6 text-gray-600 hover:text-gray-900"
                   title="Access the database"
                >
                    Database
                </a>
            </div>
            <div class="pb-6">
                <a href="/contributors"
                   class="text-sm leading-6 text-gray-600 hover:text-gray-900"
                   title="Contributors guide"
                >
                    Contributors
                </a>
            </div>
            <div class="pb-6">
                <a href="#"
                   class="termly-display-preferences text-sm leading-6 text-gray-600 hover:text-gray-900"
                   title="Consent preferences"
                >
                    Consent preferences
                </a>
            </div>
        </nav>
        <p class="mt-10 text-center text-xs leading-5 text-gray-500 flex items-center justify-center">
            Brought to you with
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="18"
                 height="18"
                 viewBox="0 0 24 24"
                 fill="currentColor"
                 class="icon icon-tabler icons-tabler-filled icon-tabler-heart text-red-600 mx-1"
            >
                <path stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                />
                <path d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z" />
            </svg>
            by
            <a href="https://ebalo.xyz"
               class="font-semibold text-indigo-600 hover:text-indigo-500 ml-1"
               target="_blank"
               rel="noopener"
               title="Ebalo's personal website"
            >
                Ebalo
            </a>
            <span class="mr-1">.</span>
            All rights reserved.
        </p>
    </div>
</footer>