---
import Header from "@components/header.astro";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/hero.astro";
---

<Layout title="CyberPath">
    <Header />
    <main>
        <Hero />
    </main>
</Layout>
