---
import Layout from "@layouts/Layout.astro";
import type {
    FuseIndexObjectRecord,
    FuseIndexRecords,
    FuseIndexStringRecord,
} from "fuse.js";
import { dash } from "radash";
import { makeJsonLd } from "src/lib/make-json-ld";
import type { WebPage } from "schema-dts";
import { CareerPathsList } from "src/lib/career-paths";
import { CAREER_PATH_SPECIAL_HIDDEN } from "src/lib/career-paths";

const career_paths = CareerPathsList.filter((path) => path !== CAREER_PATH_SPECIAL_HIDDEN);

const date = new Date();
const json_ld = makeJsonLd<WebPage>({
    "@type":          "WebPage",
    "@context":       "https://schema.org",
    "@id":            "https://cyberpath-hq.com/",
    url:              "https://cyberpath-hq.com/",
    name:             "CyberPath | Explore Cybersecurity Certifications",
    description:      "Explore CyberPath’s free database of cybersecurity certifications. Find career paths, costs, and detailed info to advance your cybersecurity career.",
    inLanguage:       "en-US",
    author:           "Emanuele (ebalo) Balsamo <emanuele.balsamo@cyberpath-hq.com>",
    image:            {
        "@type":     "ImageObject",
        url:         "https://cyberpath-hq.com/CyberPath-og.webp",
        width:       "1920",
        height:      "933",
        description: "CyberPath - Explore Cybersecurity Certifications",
    },
    mainEntityOfPage: {
        "@type": "WebPage",
        "@id":   "https://cyberpath-hq.com/",
    },
    datePublished:    `${ date.getFullYear() }-${ date.getMonth() + 1 }-${ date.getDate() }`,
    dateModified:     `${ date.getFullYear() }-${ date.getMonth() + 1 }-${ date.getDate() }`,
    publisher:        {
        "@type": "Person",
        name:    "Emanuele (ebalo) Balsamo",
        email:   "emanuele.balsamo@cyberpath-hq.com",
    },
    potentialAction:  {
        "@type": "SearchAction",
        target:  "https://cyberpath-hq.com/database/?query={search_term_string}",
    },
});
---

<Layout JSON_LD={ json_ld }
        seo={ {
            title:              "CyberPath | Integrate with CyberPath",
            canonical:          "https://cyberpath-hq.com/developers",
            description:        "Integrate with CyberPath to provide your users with the most up-to-date information on cybersecurity certifications and trainings.",
            openGraph:          {
                url:         "https://cyberpath-hq.com/developers",
                title:       "CyberPath | Integrate with CyberPath",
                description: "Integrate with CyberPath to provide your users with the most up-to-date information on cybersecurity certifications and trainings.",
                site_name:   "CyberPath",
                images:      [
                    {
                        url:    "https://cyberpath-hq.com/CyberPath-og.webp",
                        width:  1920,
                        height: 933,
                        alt:    "CyberPath - Explore Cybersecurity Certifications",
                    },
                ],
            },
            additionalMetaTags: [
                {
                    name:    "keywords",
                    content: "cybersecurity, certifications, training, developers, integrate",
                },
            ],
        } }
>
    <div class="bg-white px-6 py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
            <p class="text-base font-semibold leading-7 text-indigo-600">
                Integrate with CyberPath
            </p>
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                Everything you need to get up and running
            </h1>
            <p class="mt-6 text-xl leading-8">
                CyberPath is a free database of cybersecurity certifications and trainings, its main goal is to help
                find
                the right path to advance in people cybersecurity careers, but, what if you want to integrate with
                CyberPath to provide your users with the most up-to-date information on cybersecurity certifications and
                trainings?
            </p>
            <div class="mt-10 max-w-3xl w-full">
                <p>
                    CyberPath provides a simple and easy-to-use API to get all the information you need to integrate
                    with your platform. The API is free to use and doesn't require any authentication.
                </p>
                <ul role="list"
                    class="mt-8 max-w-xl space-y-8 text-gray-600"
                >
                    <li class="flex gap-x-3">
                        <svg class="mt-1 h-5 w-5 flex-none text-indigo-600"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true"
                        >
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                  clip-rule="evenodd"
                            />
                        </svg>
                        <div>
                            <strong class="font-semibold text-gray-900">Free to use</strong>
                            The API is free to use and will always be.
                        </div>
                    </li>
                    <li class="flex gap-x-3">
                        <svg class="mt-1 h-5 w-5 flex-none text-indigo-600"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true"
                        >
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                  clip-rule="evenodd"
                            />
                        </svg>
                        <div>
                            <strong class="font-semibold text-gray-900">No authentication required</strong>
                            The API doesn't require any authentication. Just make a request and get the data you need.
                        </div>
                    </li>
                    <li class="flex gap-x-3">
                        <svg class="mt-1 h-5 w-5 flex-none text-indigo-600"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true"
                        >
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                  clip-rule="evenodd"
                            />
                        </svg>
                        <div>
                            <strong class="font-semibold text-gray-900">Easy to use</strong>
                            The API is available in JSON format and is easy to use, it follows a simple yet powerful
                            data structure.
                        </div>
                    </li>
                </ul>
                <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
                    Data structure
                </h2>
                <p class="mt-6">
                    The API is available in JSON format and follows a simple yet powerful data structure. Here's an
                    example of the data structure you can expect to receive from the API:
                </p>
                <div class="my-4 isolate max-w-full overflow-hidden">
                    <div class="relative p-6 rounded-lg bg-gray-900 text-gray-100">
                        <div class="absolute top-0 left-0 px-2 py-1 border-b border-r bg-white/5 text-xs text-zinc-200
                        rounded select-none"
                        >
                            Typescript
                        </div>
                        <pre is:raw
                             class="whitespace-pre-line pt-2 overflow-x-auto text-nowrap"
                        >
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">1&nbsp;&nbsp;</span><span class="text-orange-400">interface </span>CertificationMetadata <span class="text-yellow-500">{</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">2&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">image: </span><span class="text-orange-400">string</span>;
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">3&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">provider: </span><span class="text-orange-400">string</span>;
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">4&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">title: </span><span class="text-orange-400">string</span>;
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">5&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">acronym: </span><span class="text-orange-400">string</span>;
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">6&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">last_updated_at: </span><span class="text-orange-400">Date</span>;
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">7&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">reference: </span><span class="text-orange-400">string</span>;
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">8&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">aliases?: </span><span class="text-orange-400">string</span><span class="text-yellow-500">[]</span> | <span class="text-orange-400">undefined</span>;
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">9&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">career_paths: </span><span class="text-orange-400">string</span><span class="text-yellow-500">[]</span>;
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">10&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">price: </span><span class="text-orange-400">string</span>;
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">11&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">currency: </span><span class="text-orange-400">string</span>;
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">12&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">slug: </span><span class="text-orange-400">string</span>;
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">13&nbsp;</span><span class="text-yellow-500">}</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">14&nbsp;</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">15&nbsp;</span><span class="text-orange-400">type </span>CertificationMetadataCollection =
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">16&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CertificationMetadata<span class="text-yellow-500">[]</span>;
                        </pre>
                    </div>
                    <div class="text-zinc-600 text-sm font-semibold text-center mt-1">
                        Certification metadata data structure
                    </div>
                </div>
                <p class="mt-10">
                    All the API endpoints return a
                    <code class="text-gray-100 bg-gray-900 rounded-md p-1 box-decoration-clone">Certification&shy;Metadata&shy;Collection</code>
                    array, which is composed of
                    <code class="text-gray-100 bg-gray-900 rounded-md p-1 box-decoration-clone">Certification&shy;Metadata</code>
                    objects.
                    Each <code class="text-gray-100 bg-gray-900 rounded-md p-1 box-decoration-clone">Certification&shy;Metadata</code>
                    object
                    contains all the information you may need to display a certification on your platform.
                    Notice that the aliases list is optional, meaning it may not be present at all.
                </p>
                <p class="mt-4">
                    Note the API <strong>does not</strong> provide any information about the certification
                    content, the API is focused <strong>solely</strong> on providing metadata about the certification
                    itself.
                    This has been done to ensure the API is as lightweight as possible and to make searching for the
                    right certification as fast as possible.
                </p>
            </div>
            <div class="mt-16 max-w-3xl">
                <h2 class="text-2xl font-bold tracking-tight text-gray-900">
                    Providing searching functionalities
                </h2>
                <p class="mt-6">
                    If you want to provide searching functionalities to your users, you should consider opting into some
                    kind of fuzzy search algorithm. This will allow your users to search for certifications even if your
                    users don't know the exact name of the certification.
                </p>
                <p class="mt-4">
                    CyberPath comes with pre-built search indexes for all the certifications available in the database.
                    The indexes are built using
                    <a target="_blank"
                       rel="noopener"
                       href="https://www.fusejs.io/"
                       class="text-indigo-600 hover:underline"
                    >
                        Fuse.js
                    </a> a lightweight fuzzy-search library that provides fast and easy
                    searching capabilities.
                </p>
                <p class="mt-4">
                    The search indexes are available in JSON format and follow a dynamic data structure. Here's an
                    example of the data structure you can expect to receive from the search indexes:
                </p>
                <div class="my-4 isolate max-w-full overflow-hidden">
                    <div class="relative p-6 rounded-lg bg-gray-900 text-gray-100">
                        <div class="absolute top-0 left-0 px-2 py-1 border-b border-r bg-white/5 text-xs text-zinc-200
                        rounded select-none"
                        >
                            Typescript
                        </div>
                        <pre is:raw
                             class="whitespace-pre-line pt-2 overflow-x-auto text-nowrap"
                        >
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">1&nbsp;&nbsp;</span><span class="text-gray-500">// This is the data structure of the search index</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">2&nbsp;&nbsp;</span><span class="text-orange-400">interface </span>FuseIndex {
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">3&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">keys: </span><span class="text-orange-400">string</span><span class="text-yellow-500">[]</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">4&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">records: </span>FuseIndexObjectRecord | FuseIndexStringRecord
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">5&nbsp;&nbsp;</span>}
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">6&nbsp;&nbsp;</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">7&nbsp;&nbsp;</span><span class="text-gray-500">// Below this line reside the types used in the search index data structure</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">8&nbsp;&nbsp;</span><span class="text-orange-400">type </span>FuseIndexObjectRecord = {
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">9&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">i: </span><span class="text-orange-400">number</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">10&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">$: </span>RecordEntry
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">11&nbsp;</span>}
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">12&nbsp;</span><span class="text-orange-400">type </span>FuseIndexStringRecord = {
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">13&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">i: </span><span class="text-orange-400">number</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">14&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">v: </span><span class="text-orange-400">string</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">15&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">n: </span><span class="text-orange-400">number</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">16&nbsp;</span>}
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">17&nbsp;</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">18&nbsp;</span><span class="text-orange-400">type </span>RecordEntry = {
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">19&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">[p: string]: </span>RecordEntryObject | RecordEntryArrayItem
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">20&nbsp;</span>}
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">21&nbsp;</span><span class="text-orange-400">type </span>RecordEntryObject = {
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">22&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">v: </span><span class="text-orange-400">string</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">23&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">n: </span><span class="text-orange-400">number</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">24&nbsp;</span>}
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">25&nbsp;</span><span class="text-orange-400">type </span>RecordEntryArrayItem = (RecordEntryObject & {
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">26&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-400">i: </span><span class="text-orange-400">number</span>
                            <span class="text-gray-300 text-sm select-none hidden sm:inline-block">27&nbsp;</span>})<span class="text-yellow-500">[]</span>
                        </pre>
                    </div>
                    <div class="text-zinc-600 text-sm font-semibold text-center mt-1">
                        Fuse.js search index data structure
                    </div>
                </div>
                <h2 class="text-2xl font-bold tracking-tight text-gray-900 mt-16">
                    Endpoints
                </h2>
                <p class="mt-6">
                    The API provides two types of endpoints, one for fetching all the certifications available in the
                    database and one for fetching the search indexes.
                </p>
                <h3 class="mt-8 text-xl font-bold tracking-tight text-gray-900">
                    Certifications endpoint
                </h3>
                <p class="mt-6">
                    The certifications endpoint is used to fetch all the certifications available in the database or all
                    the certification for a given career path. The endpoint are available at the following URLs:
                </p>
                <ul role="list"
                    class="mt-4 max-w-xl space-y-2 text-gray-600 list-disc list-outside ml-8"
                >
                    <li>
                        <span>
                            <a target="_blank"
                               href="/database/data.json"
                               class="text-indigo-500 hover:underline"
                            >https://cyberpath-hq.com/database/data.json</a>:
                        </span>
                        Fetches all the certifications available in the database.
                    </li>
                    {
                        career_paths.map((path) => (
                                <li>
                                <span>
                                    <a target="_blank"
                                       href={ `/career-paths/${ dash(path) }/data.json` }
                                       class="text-indigo-500 hover:underline"
                                    >https://cyberpath-hq.com/career-paths/{ dash(path) }/data.json</a>:
                                </span>
                                    Fetches all the certifications available in the database for the career path
                                    <em>"{ path }"</em>.
                                </li>
                        ))
                    }
                </ul>
                <h3 class="mt-8 text-xl font-bold tracking-tight text-gray-900">
                    Search indexes endpoint
                </h3>
                <p class="mt-6">
                    The search indexes endpoint is used to fetch the search indexes for all the certifications available
                    in the database or all the certification for a given career path. The endpoint are available at the
                    following URLs:
                </p>
                <ul role="list"
                    class="mt-4 max-w-xl space-y-2 text-gray-600 list-disc list-outside ml-8"
                >
                    <li>
                        <span>
                            <a target="_blank"
                               href="/database/data-index.json"
                               class="text-indigo-500 hover:underline"
                            >https://cyberpath-hq.com/database/data-index.json</a>:
                        </span>
                        Fetches the search indexes for all the certifications available in the database.
                    </li>
                    {
                        career_paths.map((path) => (
                                <li>
                                <span>
                                    <a target="_blank"
                                       href={ `/career-paths/${ dash(path) }/data-index.json` }
                                       class="text-indigo-500 hover:underline"
                                    >https://cyberpath-hq.com/career-paths/{ dash(path) }/data-index.json</a>:
                                </span>
                                    Fetches the search indexes for the career path <em>"{ path }"</em>.
                                </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
</Layout>
