---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import CertBanner from "@components/astro/database/cert-banner.astro";
import LeftPane from "@components/astro/database/left-pane.astro";
import RightPane from "@components/astro/database/right-pane.astro";

/**
 * Get the paths for the static site generation.
 */
export async function getStaticPaths() {
    const certifications = await getCollection("certifications", (entry) => {
        return !entry.data.draft;
    });

    return certifications.map((certification) => {
        const [ provider, title ] = certification.slug.split("/");

        return {
            params: {
                provider,
                title,
            },
            props:  {
                certification,
            },
        };
    });
}

const { certification } = Astro.props;
const {
          Content,
      } = await certification.render();
---

<Layout title={ `CyberPath | ${ certification.data.title }` }>
    <main class="pb-24 grid grid-cols-12 relative">
        <CertBanner title={ certification.data.title }
                    banner={ certification.data.image }
        />
        <LeftPane certification={ certification } />
        <article class="prose prose-zinc w-full max-w-5xl col-start-4 col-span-6 row-start-2 border rounded-md shadow-md bg-white p-12">
            <Content />
        </article>
        <RightPane certification={ certification } />
    </main>
</Layout>