---
import { AstroSeo } from "@astrolib/seo";
import Layout from "src/layouts/Layout.astro";
import { ReactiveDatatable } from "src/components/astro/database/reactive-datatable";
import RowLoadingState from "@components/astro/database/records-table/row-loading-state.astro";
---

<Layout title="CyberPath | Database">
    <AstroSeo
            title="CyberPath | Database"
            canonical="https://cyberpath-hq.com/database/"
            description="Access the full database of certifications and exams. Search, filter, and sort the data to find the information you need, remember, it's Free!"
            openGraph={ {
                url:         "https://cyberpath-hq.com/database/",
                title:       "CyberPath | Database",
                description: "Access the full database of certifications and exams. Search, filter, and sort the data to find the information you need, remember, it's Free!",
                site_name:   "CyberPath",
                images:      [
                    {
                        url:    "https://cyberpath-hq.com/CyberPath-og.webp",
                        width:  1920,
                        height: 933,
                        alt:    "CyberPath - Explore Cybersecurity Certifications",
                    },
                ],
            } }
    />
    <div class="relative isolate py-14">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
             aria-hidden="true"
        >
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                 style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
            ></div>
        </div>
        <div class="overflow-x-auto max-w-6xl mx-auto bg-white/50 rounded-xl border p-8">
            <h1 class="text-3xl font-bold text-zinc-900">Database</h1>
            <p class="text-sm my-1 text-zinc-700">
                Access the full database of certifications and exams.
                Search, filter, and sort the data to find the information you need, remember, it's
                <span class="font-bold">Free</span>!
            </p>
            <p class="text-sm mb-6 mt-1 text-zinc-700">
                If you like the service, and want to support the project or contribute to the database, visit the
                <a href="/contributors"
                   class="text-indigo-500 hover:underline"
                >
                    contributors
                </a> page.
            </p>
            <ReactiveDatatable client:load>
                <RowLoadingState slot="loading" />
            </ReactiveDatatable>
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
             aria-hidden="true"
        >
            <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                 style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
            ></div>
        </div>
    </div>
</Layout>