---
// Supports weights 200-900
import "@fontsource-variable/nunito";
import Header from "src/components/astro/common/header.astro";
import Footer from "src/components/astro/common/footer.astro";

interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en"
      class="scroll-smooth scroll-pt-32"
>
<head>
    <!-- Google Tag Manager -->
    <script is:inline async defer>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                "gtm.start":
                    new Date().getTime(), event: "gtm.js"
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-MZ2LDS5P");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0"
    />
    <link rel="icon"
          type="image/svg+xml"
          href="/favicon.svg"
    />
    <link rel="sitemap"
          href="/sitemap-index.xml"
    />
    <title>{title}</title>
</head>
<body class="font-sans bg-white text-zinc-900">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZ2LDS5P"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<Header/>
<main>
    <slot/>
</main>
<Footer/>
</body>
</html>